@use "../../../foundation/foundation" as f;

//close
.p-sidebar__bg{
    width: 100%;
    height: 100%;
    background-color: f.$ClearBlackDark;
    opacity: 0;
    transition: opacity 0.6s ease;
    position: fixed;
    top: 0;
    left: 0;

    @include f.breakpoint(pc) {
        position: static;
        opacity: 1;
    }
}

//open
.p-sidebar__bg.open{
    opacity: 1;
}