@use "../../../foundation/foundation" as f;

.p-header{
    height: 215px;
    background-color: f.$Beige;

    @include f.breakpoint(tablet) {
        height: 217px;

        @include f.breakpoint(pc) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
